:root {
    --yellow: #FFF0B1;
    --blue: #355FE6;
    --dark-grey: #333333;
    --grey: #828282;
    --light-grey: #F2F2F2F2;
}

body, div, p, h1, h2, h3, h4, a, ul, li, button {
    margin: 0;
    padding: 0;
}

body, div {
    background-color: var(--yellow);
}

a, h1, h2, h3, h4 {
    font-family: 'futura pt', sans-serif;
    font-weight: 300;
}

p {
    font-family: 'Martel', sans-serif;
}

button {
    border:none;
    font-family: 'futura pt';
    font-weight: 300;
    background-image: none;
    background-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    cursor: pointer;
}

button:focus{
    outline: none;
}