.hero-main {
    grid-column: 1 / 5;
    padding: 60px 0 60px 0;
    overflow: hidden;
}

@media screen and (min-width: 869px) {
    .hero-main {
        grid-column: 3 / 7;
    }
}

@media screen and (min-width: 1200px) {
    .hero-main {
        grid-column: 2 / 4;
    }
}

.hero-title {
    font-size: 32px;
    color: var(--dark-grey);
}

.hero-subtitle {
    font-size: 22px;
    color: var(--grey);
    padding-bottom: 22px;
}

.hero-subtext {
    font-family: 'plantin', serif;
    font-size: 17px;
    line-height: 24px;
    color: var(--dark-grey);
    padding-bottom: 20px;
}