.main-nav {
    grid-column: 1 / 5;
    position: sticky;
    position: -webkit-sticky;
    padding-top: 10px;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: var(--yellow);
}

@media screen and (min-width: 869px) {
    .main-nav {
        grid-column: 3 / 7;
    }
}

@media screen and (min-width: 1200px) {
    .main-nav {
        grid-column: 2 / 4;
    }    
}

.main-nav-inner {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.nav-element {
    transition: transform 0.2s ease-in-out;
    min-width: calc(100%/3);
    text-align: center;
}

.nav-element-text {
    color: var(--dark-grey);
    background-color: var(--yellow);
    outline: 1px solid var(--dark-grey);
    font-size: 17px;
    text-decoration: none;
    padding: 4px 0 4px 0;
    display: block;
}

.nav-element-text-active {
    color: var(--light-grey);
    background-color: var(--dark-grey);
}

.nav-element-text:hover {
    text-decoration: underline;
}