.main-nav {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    left: 0;
    background-color: transparent;
}

.main-nav-inner {
    padding-left: calc(100vw / 36);
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.nav-element {
    transition: transform 0.2s ease-in-out;
    min-width: 80px;
}

.nav-element-text {
    color: var(--blue);
    font-size: 17px;
    text-decoration: none;
    padding: 20px 0 20px 0;
    margin-right: 20px;
    display: block;
    border-bottom: 2px solid var(--yellow);
}

.nav-element-text-active {
    font-weight: 500;
}

.nav-element-text:hover {
    text-decoration: underline;
}