.main-nav-inner {
    padding-left: calc(10vw / 3);
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.nav-element {
    transition: transform 0.2s ease-in-out;
}

.nav-element-text {
    color: var(--blue);
    font-size: 17px;
    text-decoration: none;
    padding: 20px 0 20px 0;
    margin-right: 20px;
    display: block;
    border-bottom: 2px solid var(--yellow);
    /* transition: border-bottom 0.2s linear; */
}

.nav-element-text:hover {
    /* border-bottom: 2px solid var(--blue); */
}